html {
  font-family: Gill Sans, sans-serif;
  background: linear-gradient(135deg, rgba(255, 220, 0, 0.5), rgba(0, 204, 255, 0.5));
  text-align: center;
  height: 100%;
}

.table {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.animal {
  width: 200px;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.animal a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.animal:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); 
}

.animal a:hover {
  text-decoration: underline;
  color: blue;